body {
  font-family: "Trip Sans Reg";
  font-family: "Trip Sans Med";
}

.container {
  width: 1150px;
  margin: 0 auto;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

header img {
  width: 188px;
  height: 100%;
}

header img:hover {
  cursor: pointer;
}

.logo-search {
  display: flex;
}

.search img {
  width: 20px;
  height: 20px;
}

.search input {
  width: 80%;
  height: 40px;
  margin-left: 20px;
  border: none;
}

.search {
  border: 2px solid #dfdfdf;
  width: 350px;
  margin-left: 30px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAV MENU */
.menu {
  display: flex;
  align-items: center;
  font-family: "Trip Sans Med";
}

.menu .menu-item {
  margin: 0px 20px;
}

.menu-item {
  display: flex;
  align-items: center;
}

.menu-item img {
  width: 24px;
  height: 24px;
}

.menu-item:hover {
  background-color: #c1c1c150;
  padding: 8px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.1s linear;
  margin: 0 12px;
}

.menu button {
  font-size: 15px;
  font-weight: 600;
  background: black;
  color: white;
  padding: 12px 15px;
  border-radius: 25px;
  border: none;
}

.menu button:hover {
  cursor: pointer;
  background-color: #333333;
  transition: background-color 0.1s linear;
}

/* MAIN */
h1 {
  margin-top: 40px;
  font-size: 54px;
  font-family: "Trip Sans Med";
  font-weight: 1000;
}

h1 span {
  color: #ff5d5d;
}

/* NAV DES 6 ELEMENTS */
#elements-nav {
  display: flex;
  margin-top: 20px;
}

#elements-nav p:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: background-color 0.1s linear;
}

#elements-nav p {
  height: 25px;
  padding: 20px 0 20px 10px;
  margin: 0 10px 20px 0;
  border: 1px solid black;
  border-radius: 10px;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.elements-nav p:last-child {
  margin: 0;
}

#elements-nav img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

/* LES PHOTOS */
.images img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.images {
  margin-top: 5px;
  height: 450px;
  display: flex;
}

.left {
  position: relative;
}

.left button {
  font-size: 12px;
  padding: 10px 10px;
  font-family: "Trip Sans Med";
  background: black;
  color: white;
  border-radius: 25px;
  border: none;
  position: absolute;
  bottom: 15px;
  left: 15px;
  /* display: flex; */
}

.left button:hover {
  cursor: pointer;
  background-color: #333333;
  transition: background-color 0.1s linear;
}

.left img {
  width: 100%;
}

.left img:hover {
  cursor: pointer;
  opacity: 85%;
  transition: opacity 0.1s linear;
}

.right {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
}

.right img {
  height: 49.7%;
}

.right img:first-child {
  margin-bottom: 3px;
}

.right img:hover {
  cursor: pointer;
  opacity: 85%;
  transition: opacity 0.1s linear;
}

/* PETITE NAV EUROPE */
.europe {
  font-family: "Trip Sans Reg";
  margin-top: 20px;
  font-size: 12px;
  color: #333333;
  display: flex;
  justify-content: space-between;
}

.links .links-item {
  margin: 0px 3px 0 0;
}

.links {
  display: flex;
  align-items: center;
}

.links-item {
  display: flex;
  align-items: center;
}

.links-item:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: text-decoration 0.1s linear;
}

.links-item svg {
  margin-left: 3px;
}

/* DESCRIPTION */
.descript {
  margin-top: 40px;
  height: 450px;
  display: flex;
  justify-content: space-between;
}

.left h2 {
  font-size: 28px;
  font-weight: 700;
}

.left p {
  margin-top: 20px;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333333;
  width: 560px;
}

.left p:hover {
  cursor: pointer;
}

.descript .right {
  width: 440px;
}

.organize {
  background-color: #fe5d5d;
  padding: 35px;
  border-radius: 15px 15px 0 0;
}

.map {
  border-radius: 0 0 15px 15px;
  max-height: 40%;
  object-fit: cover;
}

.right h3 {
  font-size: 34px;
  padding-bottom: 25px;
}

.right p {
  font-size: 15px;
  padding-bottom: 25px;
}

.organize button {
  font-size: 15px;
  font-weight: 500;
  font-family: "Trip Sans Med";
  background: #333333;
  color: white;
  padding: 20px 20px;
  border-radius: 20px;
  border: none;
}

.organize button:hover {
  cursor: pointer;
  background-color: black;
  transition: background-color 0.1s linear;
}

/* COLONNE 1 */
.divertir {
  display: flex;
  justify-content: space-between;
}

.immanquables {
  margin-bottom: 40px;
}

.immanquables h2 {
  margin-top: 30px;
  font-size: 28px;
  font-family: "Trip Sans Med";
  font-weight: 700;
}

.colonne-1 {
  width: 268px;
  margin: 30px 30px 0 0;
  flex: 0.8;
}

.colonne-1 h3 {
  font-size: 24px;
  font-family: "Trip Sans Reg";
  font-weight: 600;
}

.colonne-1 p {
  margin: 25px 0 15px 0;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333333;
}

.colonne-1 a {
  font-size: 16px;
  font-family: "Trip Sans Reg";
  font-weight: 600;
  color: #333333;
}

/* COLONNE 2 */
.carou-item img {
  width: 268px;
  height: 201px;
  object-fit: cover;
}

.carou-item h3 {
  font-size: 18px;
  font-family: "Trip Sans Reg";
  font-weight: 600;
  margin: 5px 0 5px 0;
}

.carou-item p {
  font-size: 14px;
  font-family: "Trip Sans Reg";
  font-weight: 580;
  color: #333333;
}

.score img {
  width: 68px;
  height: 12px;
}

.score span {
  font-size: 12px;
  font-family: "Trip Sans Reg";
  font-weight: 580;
  color: #333333;
}

/* CAROUSEL */
.carousel {
  margin-top: 30px;
  width: 800px;
  gap: 15px;
  flex: 2.5;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carou-item:hover {
  cursor: pointer;
  opacity: 80%;
  transition: opacity 0.1s linear;
}

.carou-item h3:hover {
  text-decoration: underline;
}

.carou-item {
  position: relative;
}

.label {
  display: flex;
  position: relative;
  position: absolute;
  bottom: 102px;
  left: 8px;
}

.logo-2021 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.label img {
  width: 33px;
  height: 44px;
}

.label .owl {
  width: 32px;
  height: 32px;
}

.label span {
  font-size: 12px;
  font-weight: 700;
}

.favorites {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorites:hover {
  cursor: pointer;
  background-color: #eeeeee;
  transition: background-color 0.1s linear;
}

.favorites img {
  width: 24px;
  height: 24px;
}

/* BANDEAU */
.popup {
  width: 100%;
  margin-bottom: 60px;
}

.popup:hover {
  cursor: pointer;
}

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faf1ed;
  height: 150px;
  gap: 10px;
}

footer img {
  width: 40px;
  height: 40px;
}

footer p {
  font-size: 16px;
}

footer a {
  font-weight: 700;
  color: #333333;
  text-decoration: none;
}

/* MEDIA QUERIES */
@media (min-height: 300px) {
  #elements-nav {
    position: sticky;
    top: 0;
    background: white;
  }
}
